{% extends 'base.html' %}
{% block title %}detail_question{% endblock title %}
{% block content %}
	{% if question.is_active %}
		<h1>{{ question.title }}</h1>
		{% if error_message %}
			<p><strong>{{ error_message }}</strong></p>
		{% endif %}
		{#	<form action="{% url 'polls:vote' question.id%}"  method="post">#}
		<form action="" method="post">
			{% csrf_token %}
			{% for answer in question.answer_set.all %}
				<p><input type="radio" name="answer" id="answer{{ forloop.counter }}" value="{{ answer.id }}"/>
					<label for="answer{{ forloop.counter }}">{{ answer.answer }}</label></p>
			{% endfor %}
			<input type="submit" value="Голосовать"/>
		</form>
	{% else %}
		<p>Извините, опрос снят с публикации.</p>
	{% endif %}
{% endblock content %}