{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
	{% if user.is_authenticated %}
		<p>Hi {{ user.username }}!</p>
		<a href="{% url 'logout' %}">Выйти</a>
		<a href="{% url 'accounts:profile' user.pk %}">Редактировать профиль</a>
	{% else %}
		<p>Вы не авторизированны</p>
		<a href="{% url 'accounts:signup' %}">Регистрация</a>
		<a href="{% url 'login' %}">Войти</a>
	{% endif %}
	<header>
		<h1><a href="{% url 'app:home' %}">Мой блог</a></h1>
	</header>
	<hr>
	{% if request.user.is_authenticated %}
	<a href="{% url 'app:post_create' %}" style="display: table; margin: 0 auto" class="btn btn-secondary btn-sm">Создать новый пост!</a>
	{% else %}
	<a href="{% url 'accounts:signup' %}" style="display: table; margin: 0 auto" class="btn btn-secondary btn-sm">Зарегистрируйтесь, чтобы написать пост!</a>
	{% endif %}
	<hr>
	{% for post in object_list %}
		<div class="post-entry">
			<h2><a href="{% url 'app:post_detail' post.pk %}">{{ post.title }}</a></h2>
			<p>{{ post.body }}</p>
			<small><p><i>{{post.timestamp | timesince}}&nbsp; Автор:{{post.author}}</i></p></small>
		</div>
	{% endfor %}
{% endblock content %}