
{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
	{% if user.is_authenticated %}
		<p>Hi {{ user.username }}!</p>
		<p><a href="{% url 'logout' %}">Выйти</a></p>
	{% else %}
		<p>Вы не авторизированны</p>
		<a href="{% url 'accounts:signup' %}">Регистрация</a>
		<a href="{% url 'login' %}">Войти</a>
	{% endif %}
	<header>
		<h1><a href="{% url 'app:home' %}">Мой блог</a></h1>
	</header>
	<hr>
	{% for post in object_list %}
		<div class="post-entry">
			<h2><a href="">{{ post.title }}</a></h2>
			<p>{{ post.body }}</p>
		</div>
	{% endfor %}
{% endblock content %}