<div class="container">
	{% if page_obj.has_other_pages %}
		<nav id="pagination" class="col align-self-center" aria-label="Page navigation example">
			<ul class="pagination">
				{% if page_obj.number > 2 %}
					<li class="page-item"><a class="page-link" href="?page=1">1</a></li>
				{% endif %}
				{% if page_obj.has_previous %}
					<li class="page-item"><a class="page-link"
											 href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
					</li>
				{% else %}
					<li class="page-item disabled"><span class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</span>
					</li>
				{% endif %}
				{% for i in page_obj.paginator.page_range %}
					{% if i > page_obj.number|add:-2 and i < page_obj.number|add:2 %}
						{% if page_obj.number == i %}
							<li class="page-item active" aria-current="page"><a class="page-link" href="#">{{ i }}</a>
							</li>
						{% else %}
							<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
						{% endif %}
					{% endif %}
				{% endfor %}
				{% if page_obj.has_next %}
					<li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
					</li>
				{% else %}
					<li class="page-item disabled"><span class="page-link" href="#" tabindex="-1" aria-disabled="true">&raquo;</span>
					</li>
				{% endif %}
				{% if page_obj.number < page_obj.paginator.num_pages|add:-1 %}
					<li class="page-item"><a class="page-link"
											 href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
					</li>
				{% endif %}
			</ul>
		</nav>
	{% endif %}
</div>
