
<div class="votes">
	{% if error_message %}
		<p><strong>{{ error_message }}</strong></p>
	{% endif %}
	<a href="{% url 'app:vote'  get_post.id 'True' %}">
		<i class="fas fa-thumbs-up">Лайк</i>
	</a>
	<span>
		{% if get_post.voteslike %}
			<i>{{ get_post.voteslike }}</i>
		{% else %}
			<i>0</i>
		{% endif %}
	</span>
	<a href="{% url 'app:vote'  get_post.id 'False' %}">
		<i class="fas fa-thumbs-down">Дизлайк</i>
	</a>
	<span>
		{% if get_post.votesdislike %}
			<i>{{ get_post.votesdislike }}</i>
		{% else %}
			<i>0</i>
		{% endif %}
	</span>
</div>